
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #666666;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

Header{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid coral;
    padding: 35px;
    z-index: 1;
}

.logo{
    font-size: 20px;
    float: left;
    color:black;
    text-emphasis: bold;
   font-weight: 300;

}

nav ul{
    list-style-type: none;
    float:right;

}
nav ul li{
    display: inline-block;
    position: relative;
}
nav ul li ul{
    position: absolute;
    display: none;
    max-width: 50%;

   
}
nav ul li:hover ul{
    display:block;
}

nav ul li ul li a{
    display: block;
    text-align: center;
    padding: 10px;
    text-emphasis: bold;
    
    
}
nav a{
    padding: 5px 20px;
    display: block;
    text-decoration: none;
    color: black;
    text-emphasis: bold;
    background-color:#fff;
}

.show{background-image: url(../Images/Baker.JPG);
    /* units - cm, px, %, em, rem, vh, wh*/
    height: 100vh;
    width: 100%;
    background-size: cover;
position: relative

}
.show-items{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align:center ;
}

.show-items h2{
    color: white;
    background-color:coral;
    padding: 10px;
    
}

.show-items p{
    color: black;
    margin-bottom: 50px;
    
}

.button{
text-decoration: none;
border: 1px solid #fff;
color:#fff;
background-color: black;
padding: 10px 30px;
border-radius: 2em;
}

.button:hover{
    background-color: coral;
}

main{

    width: 80%;
    margin: 0 auto;
}

.box{
    width: 70%;
    float: left;

}

.clearfix{
    clear:both;
}

.box img{
    width: 100px;
    margin: 20px;
}

footer{
    background-color: #333333;
    color: #fff;
    text-align: center;
}

.Hike{background-image: url(../Images/IMG_7830.JPG);
    /* units - cm, px, %, em, rem, vh, wh*/
    height: 100vh;
    width: 100%;
    background-size: cover;
position: relative

}