body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

table {
    width: 80%;
    margin: 40px auto;
}

/* pseudo classes - :nth-child(), :nth-of-type(). :nth-last-of-type() */

tr:nth-child(even) {
    background-color: lightblue;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

th {
    background-color: green;
}

